@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body 
{
font-family: Roboto Condensed;
font-size:48px;
background-image:linear-gradient(to right, lightgrey, lightblue);
}
ol
{
	list-style:upper-roman;
	margin:0 50px;
}